---
import MainLayout from '../layout/MainLayout.astro'
---

<MainLayout title="Crypto Tracker | About">
    <h1 class="title">About page</h1>
    <p>Crypto Tracker is a real-time cryptocurrency price tracking site. Build top on Astro. Astro is a static site
        generator.
    </p>
</MainLayout>
