---
import MainLayout from '../layout/MainLayout.astro'
---

<style>
    .con {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin-top: -80px;
    }
</style>

<MainLayout title="Crypto Tracker | Contact">
    <div class="con">
        <h1 class="title">Contact page</h1>
        <a href="https://devsnow.in" target="_blank">Contact Me</a>
    </div>
</MainLayout>
